<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> </title>
    <meta name="description" content="">
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>

    
    <% include ./public/header.ejs %>

    

    <!-- @if env='dev' -->
    <div>开发环境 - 我是中间内容</div>    
    <!-- @endif -->

    <!-- @if env='build' -->
    <div>构建环境 - 我是中间内容</div> 
    <!-- @endif -->


    <% include ./public/footer.ejs %>

    <script src="./js/main.js"></script>

</body>

</html>
