@charset "UTF-8";

@import "img";
@import "var";

@font-face {
	font-family: 'PingFangSC';
	src: url('../assets/PingFangSC.ttf') format('truetype');
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font: 12px "PingFangSC", "San Francisco", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: $fontColor;
    background-color: $backgroundColor;
    * {
        box-sizing: border-box;
        outline: none;
    }
    input {
        color: $fontColor;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: all .2s ease;
    opacity: 1;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
