$whiteColor: #F7F9FA;
$mainColor: #0090FA;
$fontColor: #3f3f3f;
$assistFontColor: #888;
$formAssistFontColor: #BFBFC0;
$formAssistFontBGColor: #DEE0E1;
$backgroundColor: #FAFAFA;
$borderColor: #EEE;
$mainColorBorderColor: #e7effa;

$errorColor: #FC625D;
$successColor: #21B58E;
