@charset "UTF-8";

@import "base/base";
@import "img";

body {
    font: $b-font-weight #{$b-font-size}/#{$b-line-height} $b-font-family;
    color: $c-text;
    a {
        text-decoration: none;
        color: nth($c-link, 1);
        &:hover {
            text-decoration: underline;
            color: nth($c-link, 2);
        }
    }
}

.test-1 {
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    background-image: url(../images/radio.png);
}

.test-2 {
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    background-image: url(../images/base64/logo.png);
}

.test-3 {
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    background-image: url(../images/slice/radio.png);
}

.test-4 {
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    background-image: url(../images/slice/logo.png);
}
