<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> LegoFlow 2 </title>
    <link rel="stylesheet" href="./css/main.css?t=1524476812425">
</head>
<body>

    <app></app>

    <!-- app -->
    <script src="./assets/app.util.js?t=1524476812425"></script>
    <script src="./assets/app.setting.js?t=1524476812425"></script>
    <script src="./assets/app.config.js?t=1524476812425"></script>
    <script src="./assets/app.ipc.js?t=1524476812425"></script>
    <script src="./assets/app.menu.js?t=1524476812425"></script>

    <!-- vue -->
    <script src="./assets/vue.min.js?t=1524476812425"></script>
    <script src="./assets/vue-router.min.js?t=1524476812425"></script>
    <script src="./assets/vuex.min.js?t=1524476812425"></script>

    <!-- other -->
    <script src="./assets/moment.min.js?t=1524476812425"></script>
    <script src="./assets/lodash.js?t=1524476812425"></script>
    <script src="./assets/mousetrap.min.js?t=1524476812425"></script>
    <script src="./assets/sortable.js?t=1524476812425"></script>

    <!-- entry -->
    <script src="./js/main.js?t=1524476812425"></script>

</body>
</html>
